.header{
    background-color: cornflowerblue;
}

.header_burger{
    position: absolute;
    left: 95%;
    
}


.header_menu ul {
    display: flex;
    justify-content: center;

}

.header_menu ul li {
    font-size: 14px;
    margin-left: 30px;
}